<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7ba8f200-1e02-4830-922c-abc331d294e2/resourceGroups/ContosoResources/providers/Microsoft.Web/sites/easyapp-0624</ResourceId>
    <ResourceGroup>ContosoResources</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://easyapp-0624.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>easyapp-0624.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>easyapp-0624</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$easyapp-0624</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>